/* Custom font */
@font-face {
    font-family: 'Reggae';
    src: url(fonts/ReggaeOne-Regular.ttf);
}

body {
    background-color: rgb(7, 3, 43) !important;
    font-size: large;
}

/* Nav bar elements */
h1{
    color: rgb(248, 47, 47) !important;
    font-size: 2rem !important;
    font-family: 'Reggae';
}

h2{
    font-family: 'Reggae';
    color: rgb(248, 47, 47);
}

.active {
    text-decoration: underline;
}

.nav-link{
    color: white !important;
    font-size: larger;
    font-weight: bold;
    font-family: 'Reggae';
}

@media (min-width: 992px) {
    .nav-link{
        background-color: rgb(248, 47, 47);
        border-radius: 4rem;
        padding-inline: 4rem !important;
        margin-inline: 1rem;
    }

    .nav-link:hover{
        color: rgb(248, 47, 47) !important;
        background-color: rgb(255, 255, 255);
    }
}

.nav-link:hover{
    color: rgb(248, 47, 47) !important;
}

.navbar-style {
    background-color: rgba(0, 0, 0, 0.605) !important;
    z-index: 1030 !important;
    backdrop-filter: blur(4px);
}


#scrollTopBtn {
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 999;
    border-radius: 50%;
    padding: 10px 14px;
    font-size: 1.2rem;
} 