/* Nav bar elemek */
.in-nav > li{
    margin-left: 3rem;
    margin-right: 3rem;
}

.card{
    width: 75% !important;
}

.card-img-top{
    max-height: 35rem;
    width: 100%;
    object-fit: cover;
}

table{
    width: 75% !important;
}

/* Táblázaton belüli felsorolás */
.in-table{
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}